.tooltip-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .tooltip-page-row {
        display: flex;
        justify-content: space-between;
    }
}
